.motokart-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.motokart-items {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.motokart-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-color: black;
  border-width: 30px;
}

.motokart-image {
  width: 20%;
}

.motokart-image img {
  width: 100%;
  height: auto;
}

.motokart-details {
  width: 80%;
  background-color: #f4f2f2;
  border-color: #000000;
  border-width: 10px solid black;
  padding-left: 20px;
  padding-top: 10px;
}

.quantity-container {
  align-items: center;
  text-align: center;
  position: relative;
  transform: translateY(-150px);
  margin-left: 30px;
}

.quantity-container button {
  margin: 0 5px;
}

.motokart-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  background-color: orange;  
}

.motokart-total-per-item {
  align-items: center;
  text-align: center;
  position: relative;
  transform: translateY(-202px);
  margin-left: 600px;
}

.motokart-total-per-item p {
  margin-right: 10px;
}

.motokart-price {
  margin-right: 270px;
  text-align: center;
  position: relative;
  transform: translateY(-75px);
}

.motokart-total {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.motokart-total p {
  margin-right: 10px;
}
