
.motokart-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.motokart-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120%;
  background-color: rgb(0, 0, 1);
  border-color: #f5db4c;
  border-width: 10px;
  border-style: groove;
  padding: 2.5%;
}

.motokart-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: 1.25%;
  background-color: white;
  border-color: #f5db4c;
  border-width: 10px;
  border-style: groove;
}

.motokart-image {
  max-width: 20%;
  max-height: 20%;
  background-color: #ffffff;
}

.motokart-image img {
  width: 100%;
  height: auto;
  background-color: #ffffff;
}

.motokart-details {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  background-color: rgb(0, 0, 1);
  justify-content: left;
  padding: 2.5%;
}

.kart-column {
  width: 25%;
  box-sizing: border-box;
  padding: 1.5%;
}

.quantity-container {
  align-items: center;
  text-align: center;
}

.quantity-container button {
  margin: 10%;
}

.summation-container {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.summation-div {
  display: flex;
  flex-wrap: wrap;
  padding: 10%;
}

.motokart-summary {
  display: flex; 
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2.5%;
}

.motokart-total-per-item {
  align-items: center;
  text-align: center;
}

.motokart-price {
  align-items: center;
  text-align: center;
}

.motokart-total {
  display: flex;
  align-items: center;
  position:relative;
}

.removalbutton{
  float: right;
  background-color: #fcfcfc;
  border-color: #f5db4c;
  border-width: 5px;
  border-style: groove;
  padding: 2%;

  font-family: "Constantine", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #000000;
  text-shadow: 1px 1px 30px #B69F24, 1px 1px 10px #B69F24;
  font-size: 150%;
}

.button-container {
  display: flex;
  margin-left: auto;
}

.motokart-checkout button{
  background-color: #fcfcfc;
  border-color: #f5db4c;
  border-width: 5px;
  border-style: groove;
  padding: 2%;

  font-family: "Constantine", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #000000;
  text-shadow: 1px 1px 30px #B69F24, 1px 1px 10px #B69F24;
  font-size: 150%;
}

.kart-title {
  font-family: "Constantine", sans-serif;
    font-weight: bolder;
    font-style: normal;
    color: #f5db4c;
    font-size: 200%;
}

.kart-main-text {
  font-family: "Constantine", sans-serif;
    font-weight: bolder;
    font-style: normal;
    color: #f5db4c;
}

.kart-text {
  font-family: "Constantine", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #f5db4c;
}