.motocards {
    display: flex;
    flex: 1;
    justify-content: center;
}

.motocards-item {
    display: flex;
    flex-wrap: wrap;
}


.pagination {
    text-align: center;
    margin-top: 1rem;
    
}

.pagination button{
    padding: 1rem;
    width: 10rem;
    border-radius: 0.25rem;
    margin-right: 1rem;
    font-size: 20px;
   
}
.pagination button:hover{
    background-color: #c85415;
    /* #ff7b34
    #c85415 */
}

.active {
    background-color: #ff7b34;
  }
  
