.motocard-container {
    display: flex;
    width: fit-content;
    border-color: #f5db4c;
    border-width: 10px;
    border-style: groove;
}

.motocard {
    width: fit-content;
    background-color: rgb(8, 8, 8);
}

.motorcard-image img {
    /* width: 30rem;
    height: 20rem; */
    width: 400px;
    height: 300px;
    margin: 0;
    border-bottom: double #f5db4c 10px;
    
}

.motorcard-details {
    padding: 10px;
    text-align: center;
}

.p1 {
    font-family: "Constantine", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #f5db4c;
    font-size: 80%;
}

.model-text {
    font-family: "Constantine", sans-serif;
    font-weight: bolder;
    font-style: normal;
    text-shadow: 1px 1px 10px #B69F24, 1px 1px 10px #B69F24;
    color: #f5db4c;
    font-size: 150%;
}

.card-bold {
    font-family: "Constantine", sans-serif;
    font-weight: bolder;
    font-style: normal;
    color: #f5db4c;
    font-size: 100%;
    line-height: 0%;
}

.props-text {
    font-family: "Constantine", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #f5db4c;
    font-size: 150%;
    display: inline;
    line-height: 0%;
}

.add-to-cart-button {
    text-align: center;
    margin: 1rem;
    display: flex;
    gap: 1.25rem;

}

.add-to-cart-button button {
    font-family: "Constantine", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #f5db4c;
    font-size: 80%;
    padding-left: 5%;
    padding-right: 5%;
    width: 28%;
    border-color: #f5db4c;
    border-width: 5px;
    border-style: groove;
    background-color: rgb(8, 8, 8);
}
.add-to-cart-button :hover {
    padding: 5%;
    width: 68%;
    font-size: 120%;
    border-color: #f5db4c;
    border-width: 10px;
    border-style: groove; 
    background-color: rgb(8, 8, 8);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 5%;
    width: 80%;
    max-width: 20%;
    box-shadow: 5px 5px 20px #f5db4c;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-title {
    font-family: "Constantine", sans-serif;
    font-weight: bolder;
    font-style: normal;
    text-shadow: 1px 1px 30px #B69F24, 1px 1px 10px #000000;
    color: #f5db4c;
    font-size: 300%;
    line-height: 0%;
}

.modal-body {
    margin-top: 2rem;
}

.modal-sub-text {
    margin-top: 5%;
}

.modal-image {
    width: 37%;
}

.modal-text-big {
    font-family: "Constantine", sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 150%;
    text-shadow: 1px 1px 30px #B69F24, 1px 1px 10px #000000;
    color: #f5db4c;
}

.modal-text {
    font-family: "Constantine", sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 120%;
    color: #020202;
}

.modal-image-container{
    display: flex;
    margin-bottom: 10%;
}

button.modal-close-btn {
    font-family: "Constantine", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #f5db4c;
    font-size: 100%;
    width: 20%;
    height: 50px;
    background-color: rgb(8, 8, 8);
    border-color: #f5db4c;
    border-width: 5px;
    border-style: groove; 
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
}


