.container {
    max-width: 100%;
    background-color: rgb(0, 0, 1);
    height: auto;
    
}

.card-container {
    max-width: 100%;
    /* border-style: solid;
    border-width: 1.35px; */
    display: flex;
}
