input.search {
    font-family: "Italiana", sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 130%;
    padding: 5px;
    width: 87%;
    align-items: center;
    margin-left: 1%;
    float: inline-start;
}