select {
    font-family: "Italiana", sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 170%;
    margin-left: 1.5%;
    height: max-content;
}

option {
    font-family: "Italiana", sans-serif;
    font-weight: bold;
    font-style: normal;
}