.title-container{
    text-align: center;
    align-items: center;
    padding-bottom: 50px;
}

.title-logo {
    padding-top: 50px;
    width: 400px;
}

.title-text {
    font-family: "BlackChancery", sans-serif;
    text-shadow: 1px 1px 10px #B69F24, 1px 1px 10px #B69F24;
    color: #f5db4c;
    font-size: 500%;
}

.title-sub-text {
    font-family: "BlackChancery", sans-serif;
    text-shadow: 1px 1px 10px #B69F24, 1px 1px 10px #B69F24;
    color: #f5db4c;
}